@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

  
body{
    background: linear-gradient(to top,transparent,rgba(239, 204, 28, 0.5)), url(img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
   
}

    
.header{
    width: 100%;
    background-color: rgba(0,0,0,.7);
    border-radius: 20px;
    padding: 5px;
    color: #fff;
    overflow: hidden;
    top:0;
    left:0;
    z-index:9999;
    
    
}


a {
    color: white;
    font-size: 18px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 50px;
    color:white
}

.nav-links{
    display: flex;
    list-style: none;
    gap:25px;
    color:white
}

.nav-links li a {
    color: white
}


#banner{
    background-image: url(/portada.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    padding-top: 50px;
}

#banner h1{
    text-align: center;
    color: white;
    font-size: 48px;
}
#banner h2{
    text-align: center;
    color: white;
    font-size: 26px;
}

#banner p{
    text-align: center;
    color: white
}

.search-form{
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-49%, -49%);
    display:flex;
    align-items:center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: white;
    height: 3rem;
    width: 30rem;

   
  
}

#banner  .search-form input{
    outline: none;
    font-family: serif;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-form input:-webkit-search-cancel-button{
    appearance: none;
}

.search-form .btn-search{
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}



footer{
    
    background-color: rgba(0,0,0,.7);
    padding: 5px;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    position: absolute;
    bottom: 0;
    
}   

footer a{
    color: #fff;
    text-decoration: none;
    margin:0 5px;
    font-size: 14px;
}

footer a:hover{
    color: rgb(130, 155, 238)
}

.redes{
    margin: 5px 0;
}



.quienes-somos{
    background-image: url(/portada.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
    padding-top: 50px;
}


.quienes-somos h1{
    text-align: center;
    color: white;
    font-size: 48px;
}
.quienes-somos p{
    text-align: center;
    color: white;
    font-size: 26px;
}



.integrantes-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr );
    grid-row: repeat(2,1fr);
    justify-items: center;
    row-gap: 20px;

}

.integrantes-item{
    padding: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: all 500ms;
}

.integrantes-item p{
    color:black
}

.integrante-img{
    align-items: center;
    width: 250px;
    height: 250px;
}

