@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

body {
    background: linear-gradient(to top, transparent, rgba(212, 118, 24, 0.5)), url(img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 999;
}

header h1 {
    font-size: 24px;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 33px;
    font-size: 14px;
    padding: 5px 10px;
    transition: .5s;
    border-radius: 20px;
}

header nav ul li a:hover {
    background-color: #000;
}

header .busqueda {
    position: relative;
}

header .busqueda input {
    display: inline-block;
    width: 200px;
    border: none;
    background-color: rgba(150, 140, 140, 0.4);
    padding: 7px;
    outline: none;
    color: #fff;
    border-right: 3px;
    transition: .5s;
    opacity: 0;
}

header .busqueda:hover input {
    opacity: 1;
}

header .busqueda i {
    cursor: pointer;
}

@keyframes avionAnimacion {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

header h1 {
    font-size: 24px;
    position: relative;
}

header h1::before {
    content: '';
    position: absolute;
    left: 100px; 
    width: 30px; 
    height: 30px;
    background-image: url('./img/avion.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    animation: avionAnimacion 5s linear infinite; 
}

main{
    width: 100%;
    height: 100%;
}

.contenedor {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    color: #fff;
}

.contenido {
    display: flex;
    position: relative;
}

.contenido .linea-decorativa {
    position: absolute;
    height: 250px;
    border-left: 2px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 50%;
    transform: translateY(-50%);
}

.contenido .linea-decorativa .circulo {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: -9px;
}

.contenedor .contenido .portada {
    width: 50%;
    margin-top: 30px;
    padding-left: 50px;
}

.contenedor .contenido .portada h2 {
    padding-top: 60px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.contenedor .contenido .portada p {
    margin-bottom: 60px;
    font-size: 14px;
    font-weight: bold;
}

.contenedor .contenido .portada button {
    display: inline-block;
    border: none;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 5px 20px;
    border-radius: 30px;
    margin-bottom: 60px;
    transition: .5s;
    cursor: pointer;
}

.contenedor .contenido .portada button:hover {
    background-color: #000;
}

.contenedor .contenido .portada .redes {
    font-size: 12px;
    width: fit-content;
    padding-bottom: 7px;
    border-bottom: 2px solid #fff;
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.contenedor .contenido .portada .redes a {
    text-decoration: none;
    color: #fff;
}

.contenedor .contenido .right {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    text-align: right;
}

.contenedor .contenido .right .popular {
    border-bottom: 2px solid #fff;
    width: 100px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    font-size: large;
    font-weight: 800;
    
}

.contenedor .contenido .right .contenedor-fotos {
    display: flex;
    justify-content: end;
}

.contenedor .contenido .right .contenedor-fotos img {
    width: 25%;
    margin: 0 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.contenedor .contenido .right .contenedor-fotos img:hover {
    transform: scale(1.1);
}


footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 50px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
}

footer .legales li a {
	text-decoration: none;
    list-style: none;
	padding: 0%;
    font-size: 0.5em;
    color: #ffff;
}

footer .redes {
    font-size: 20px;
}

footer .redes a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

footer .derechos p {
	font-size: 0.5em;
	justify-content: center;
}

main .container {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

#register {
    display: none;
}
.form {
    display: flex;
    flex-direction: column;
}

.form h2 {
    margin-bottom: 20px;
    color: white;
}

.form input[type="text"],
.form input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form button {
    padding: 10px;
    background-color: #3f3db0;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: #458fa0;
}

.form p {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}

.form p a {
    color: #3f3db0;
    text-decoration: none;
}

.form p a:hover {
    text-decoration: underline;
}

