<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://kit.fontawesome.com/a8b168647e.js"
            crossorigin="anonymous"></script>
            <link rel="stylesheet" href="/static/css/style.css" />
        <title>Index-Viajemos</title>
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.png" />
    </head>
    <body>
        <header>
            <h1><a href="{{url_for('index')}}">Viajeros</a></h1>
            <nav>
                <ul class="nav-links desktop-nav">
                    <li><a href="{{url_for('index')}}">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="{{url_for('destinos')}}">Destinos</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </nav>
            <div class="busqueda">
                <input type="text" placeholder="Buscar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </header>
        <main class="main_index">
            <section class="contenedor">
                <div class="contenido">
                    <div class="linea-decorativa">
                        <div class="circulo"></div>
                        <div class="circulo"></div>
                        <div class="circulo"></div>
                    </div>
                    <div class="portada">
                        <h2>Vamos a Viajar! Blog de Viajes Codo a Codo</h2>
                        <p>Viajeros somos un grupo de amigos que nos gusta
                            viajar, y decidimos hacer un Blog de viajes en donde
                            volcaremos lugares para conocer y enamorarse. Te
                            brindamos los mejores destinos y las
                            recomendaciones</p>
                            <button id="redireccionar">Destinos</button>
                    </div>
                    <div class="right">
                        <div class="popular">
                            Popular
                        </div>
                        <div class="contenedor-fotos">
                            <img src="static/img/f1.jpg" alt="Foto 1">
                            <img src="static/img/f2.jpg" alt="Foto 2">
                            <img src="static/img/f3.jpg" alt="Foto 3">
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="legales">
                <ul>
                    <li><a href="#">Política de Privacidad</a></li>
                    <li><a href="#">Términos y Condiciones</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>
            </div>
            <div class="redes">
                <a href="https://www.facebook.com/?locale=es_ES/"><i
                        class="fa-brands fa-facebook-f"></i></a>
                <a href="https://twitter.com/?lang=es"><i
                        class="fa-brands fa-square-x-twitter"></i></a>
                <a href="https://www.instagram.com/"><i
                        class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="derechos">
                <p>© 2024 Viajemos - Todos los derechos reservados.</p>
            </div>
        </footer>
        <script src="./static/scripts.js"></script>
        <script src="./static/redireccionar.js"></script>
        <script src="./static/menu.js"></script>    
    </body>
</html>
